body {
    font-family: Tahoma;
    font-size: 13 px;
    width: 1000px;
    margin: 0px auto;
}
#menu_top {
    background: #141414;
    height: 40px;
}
#banner {
    height: 300px;
    width: 1000px;
}

#main #left {
    width: 800px;
    float: left;
    min-height: 400px;
}
#main #right {
    width: 200px;
    background: blue;
    min-height: 400px;
    float: left;
} 
#footer {
    background: #000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #fff;
    clear: left;
    line-height: 60px;
}
#menu_top ul li {
    list-style: none;
    float: left;
}
#menu_top ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFF ;
    padding: 0px 20px 0px 20px;
}
#menu_top ul li a.active {
    background: blue
}
#banner img {
    height: 300px;
    width: 1000px;
}
#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 2px solid #ccc;
    float: left;
    margin-bottom: 20px;
}
#main #left ul li img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#main #left ul li h2 {
    font-size: 14px;
}
#main {
    margin-top: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #e8eaf6;
}
/*.filter{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}*/
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    background-color: #fafafa;
    box-shadow: 0 6px 8px rgba(0,0,0,.1);
    border-radius: 8px;
}
.container h1{
    text-align: left;
    color: #212121;
    margin-bottom: 25px;
    text-transform: uppercase;
 
   

}

.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #e0e0e0;
    color: #212121;
    font-size: 20px;
    transition: .4s;
}
.container form input:focus{
    border-bottom: 2px solid #2979ff;
}

.container label{
    text-align: left;
    color: #2979ff;
}

.container form input::placeholder{
    color: #e2e2e2;
}
.container form button{
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
    text-transform: uppercase;
    border-radius: 50px
}
